*{
    box-sizing: border-box;
}

#bg{
    position: relative;
    height: 100vh;
    background: url('../img/bg.jpg');
    background-position: bottom;
}

#reload{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ff3300;
    line-height: 2rem;
    font-size: 1.2em;
    padding: .5rem;
}

#hpBar-container{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 50%;
    height: 50px;
    padding: 2px;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    animation-iteration-count: infinite;
    animation-duration: .25s;
    transition: all .7s ease;
}

.tremble{
    animation-name: tremble;
}

#hpBar{
    position: relative;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    background: -webkit-linear-gradient(#face9c 0%, #f7403d 27%, #ba2503 100%);
    background: -o-linear-gradient(#face9c 0%, #f7403d 27%, #ba2503 100%);
    background: linear-gradient(#face9c 0%, #f7403d 27%, #ba2503 100%);

}

#hpText{
    position: absolute;
    font-family: Geneva;
    font-weight: bold;
    font-size: 1.2rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.hpBar span{
    line-height: 40px;
    padding: 5px 0;
}

.container{
    position: relative;
    text-align: center;
    padding-top: 150px;
}

#zombie{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%); */
}

@keyframes tremble {
    0%{transform: translate(3px,3px);}
    25%{transform: translate(-3px,3px);}
    50%{transform: translate(3px,-3px);}
    75%{transform: translate(-3px,-3px);}
    100%{transform: translate(0px,0px);}

}

.button{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.blade{
    border-radius: 10px;
    background-color: #378cd2;
    border: 10px solid white;
    padding: .5rem;
}

button img{
    border-radius: 10px;
}

.hammer{
    display: none;
}

#blood{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}
